.navTitle {
	font-family : sans-serif;
	font-weight : bold;
	font-size : 10pt;
	width:100%;
	margin-left : 2pt;
}
.divlink {
	TEXT-DECORATION: underline;
	COLOR: blue;
	CURSOR: pointer hand;
	font-size: 10pt;
}
INPUT.radio {
	background-color : transparent;
	border-color : White;
	border : 0px;
}
INPUT.submit, INPUT.reset {
	background-color : #98fb98;
	border-width : 2px;
	border-color : Black;
	font-weight : bold;
	color : Black;
}
INPUT, TEXTAREA {
	background-color : #98fb98;
	font-family : sans-serif;
	border-color : Black;
	border-width : 1pt;
	font-size : 10pt;
}
body,.normal {
	font-family : sans-serif;
	font-size : 10pt;
}

.print{
	font-family : "Times New Roman", Times, serif;
	font-size : 12pt;
}

.body {
	font-family : sans-serif;
	font-size : 10pt;
	margin: 10pt;
}
.heading {
	font-family : sans-serif;
	font-size : 12pt;
	font-weight : bold;
}
.note,.legal {
	font-family : sans-serif;
	font-size : 8pt;
}

.error {
	font-family : sans-serif;
	font-size : 10pt;
	color : red;
}
.navigation {
	color: white;
	font-family : sans-serif;
	font-size : 10pt;
	padding-left: 4pt;
	padding-right: 1pt;
	background-color: Green;
}
.navigation:visited,.selected:visited {
	color: #00ffcc;
	width : 100%;
}
.navigation:hover,.selected:hover {
	background-color: #009933;
	color: White;
	width : 100%;
}
.selected{
	color: white;
	font-family : sans-serif;
	font-size : 10pt;
	padding-left: 4pt;
	padding-right: 1pt;
	background-color: Green;
	width : 150px;
}

.title {
	font-family : "Lucida Sans Unicode";
	font-size : 32pt;
	font-weight : bold;
}

#content {
	font-family : sans-serif;
	font-size : 10pt;
	margin: 4pt 4pt 4pt 4pt;
	padding-left: 4pt;
	padding-right: 1pt;
}
A {
	font-family : sans-serif;
	font-size : 10pt;
	color: #000000;
	text-decoration: none;
}

A:VISITED {
	color : #000099;
}

A:hover {
	color : #006633;
}
